.close-dialog {
  cursor: pointer;
  max-width: 2rem;
  max-height: 2rem;
  border: none;
  background-color: transparent;
  right: 0;
  margin: 0 2rem 0 0;
  position: absolute;
  transition: .4s all ease-in-out;
}

.dialog {
  position: absolute;
  min-width: 250px;
  border-radius: 12px;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  background-color: var(--background-color);
  border: 0;
  transition: .4s all ease-in-out;
  padding: 1rem;
  box-shadow: 0px 0px 20px 20px #aaaaaa99;
}

.dialog-content {
  margin: 1rem;
}

.dialog::backdrop {
  transition: 0.8s all ease-in-out;
  background: #5b5b5b9d;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10000;
  user-select: none;
}

.inputs-container {
  margin: 1rem 0;
}

.input-spacing-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.input-spacing,.input-alpha {
  cursor: pointer;
}

.input-spacing-output {
width: 1.2rem;
}
.input-label,.input-spacing-output {
  font-family: monospace;
  font-size: 1rem;
}

.input-color-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input-color {
  appearance: none;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.input-color::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}

.input-color::-moz-color-swatch {
  border-radius: 5px;
  border: none;
}

.btns-dialog-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.randomize-btn{
  float: right;
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding: 0;
}

.randomize-icon{
  width: 100%;
  height: 100%;
}

@media only screen and (min-width : $break-medium) and (min-height : $break-medium) {

  .input-spacing-container{
    margin-bottom: 1rem;
  }
  .input-spacing-output {
    width: 2.5rem;
    }

  .close-dialog {
    max-width: 3rem;
    max-height: 3rem;
  }

  .randomize-btn{
    float: right;
    max-width: 3rem;
    max-height: 3rem;
    
    padding: 0;
  }

  .dialog {
    position: absolute;
    min-width: 500px;
  }

  .inputs-container {
    margin: 1.5rem 0;
  }


  .input-color-container {
    gap: 1.3rem;
  }

  .input-color {
    width: 48px;
    height: 48px;
  }

  .input-label,.input-spacing-output {
    font-size: 1.3rem;
  }

  .btn-dialog {

    font-size: 1.2rem;
    padding: 0.7rem 1.6rem;
  }
}


@media only screen and (min-width : $break-large) and (min-height : $break-large) {


  .input-label,.input-spacing-output {
    font-size: 1.3rem;
  }

  .btn-dialog {
    font-size: 1.4rem;
    padding: 0.8rem 2rem;
  }
}