
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

@media only screen and (min-width : $break-small) {
  .header-container{
    margin-top: 1.3rem;
  }
}

.header-image-container{
  cursor: pointer;
  user-select: none;
  margin: 0 1rem 0 0 ;
}

@media only screen and (min-width : $break-small) {
  .header-image-container{
  margin-right: 3rem;
  }
}

.image-github{
  max-width: 3rem;
  max-height: 3rem;
}

@media only screen and (min-width : $break-small) {
  .image-github{
    max-width: 7rem;
    max-height: 7rem;
  }
}
