

body,html{
  background-color:$background-color;
  margin:0;border:0;padding:0;
  height: 100%;
  overflow: hidden;
}

.scene_container{
    touch-action: none;
    display: flex;
    margin:6rem 0 2rem 0;
    width: 100%;
    height: 100%;
    transform:  translate3d(0, 0, 0);
    transform-style: preserve-3d;
}


@media only screen and (min-width : $break-small) {
  .scene_container{
    margin:10rem 0 5rem 0;
  }
}


.rubiks_cube{
  //animation: rotate 6s infinite;
  touch-action: none;

  position: relative;
  transform-style:preserve-3d;
  width: 100%;
  height: 70%;
  margin:0;
  top:0;
  left:0;
  right: 0;
  bottom: 0;


}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.cube_container{
  height: $square-container;
  width:$square-container;
  transform-style:preserve-3d;
  transition-property: transform;
  transition:transform .8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition-duration: 0.5s;
  touch-action: none;
  position:absolute;
  margin:auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
}


.cube_container_position{
  transform-style:preserve-3d;
  height: $square-container;
  width:$square-container;
}

.rubiks_cube_0{
  @for $i from 0 through 26{

    @if $i<9{
      .cube_container_#{$i} .cube_face_3{
        background-color: $white;
      }
    }

  @if  $i%9<3{
    .cube_container_#{$i} .cube_face_0{
     background-color: $red !important;
    }
  }


  @if ($i +1)%3==0{
    .cube_container_#{$i} .cube_face_4{
      background-color:$blue;
    }
  }

    @if ($i)%3==0{
      .cube_container_#{$i} .cube_face_2{
        background-color:$green;
      }
    }

    @if $i %9>5{
      .cube_container_#{$i} .cube_face_5{
        background-color:$orange;
      }
    }

    @if $i>17{
      .cube_container_#{$i} .cube_face_1{
        background-color:$yellow;
      }
    }
  }
}

.rubiks_cube_1{
  @for $i from 0 through 26{
    @if $i<9{
      .cube_container_#{$i} .cube_face_3{
        background-color: $white1;
      }
    }

    @if ($i) %9<3{
      .cube_container_#{$i} .cube_face_0{
       background-color: $red1 !important;
      }
    }

    @if ($i+1)%3==0{
      .cube_container_#{$i} .cube_face_4{
        background-color:$blue1;
      }
    }

    @if ($i)%3==0{
      .cube_container_#{$i} .cube_face_2{
        background-color:$green1;
      }
    }

    @if ($i) %9>5{
      .cube_container_#{$i} .cube_face_5{
        background-color:$orange1;
      }
    }

    @if $i>17{
      .cube_container_#{$i} .cube_face_1{
        background-color:$yellow1;
      }
    }
  }
}



//le plus proche en haut a gauche
.cube_container_position_0{
  transform: translateX(-$square-translation) translateY(-$square-translation) translateZ($square-translation);
}

//le plus proche au milieu en haut
.cube_container_position_1{
  transform: translateX(0) translateY(-$square-translation) translateZ($square-translation);
 }

  //le plus proche en haut a droite
.cube_container_position_2{
  transform: translateX($square-translation) translateY(-$square-translation) translateZ($square-translation);
 }

.cube_container_position_3{
  transform: translateX(-$square-translation) translateY(-$square-translation) translateZ(0);
 }

.cube_container_position_4{
  transform: translateX(0) translateY(-$square-translation) translateZ(0) ;
 }
.cube_container_position_5{
  transform: translateX($square-translation) translateY(-$square-translation) translateZ(0);
 }
.cube_container_position_6{
  transform: translateX(-$square-translation) translateY(-$square-translation) translateZ(-$square-translation);
 }

.cube_container_position_7{
  transform: translateX(0) translateY(-$square-translation) translateZ(-$square-translation);
 }
.cube_container_position_8{
  transform: translateX($square-translation) translateY(-$square-translation) translateZ(-$square-translation);
 }
.cube_container_position_9{
  transform: translateX(-$square-translation) translateY(0) translateZ($square-translation);
 }
.cube_container_position_10{
  transform:  translateX(0) translateY(0) translateZ($square-translation);
 }
.cube_container_position_11{
  transform: translateX($square-translation) translateY(0) translateZ($square-translation);

 }
.cube_container_position_12{
  transform: translateX(-$square-translation) translateY(0) translateZ(0);

 }
.cube_container_position_13{
  transform: translateX(0) translateY(0) translateZ(0);
 }
.cube_container_position_14{
  transform: translateX($square-translation) translateY(0) translateZ(0);
 }
.cube_container_position_15{
  transform: translateX(-$square-translation) translateY(0) translateZ(-$square-translation);

 }
.cube_container_position_16{
  transform:  translateX(0) translateY(0) translateZ(-$square-translation);

 }
.cube_container_position_17{
  transform: translateX($square-translation) translateY(0) translateZ(-$square-translation);

 }
.cube_container_position_18{
  transform: translateX(-$square-translation) translateY($square-translation) translateZ($square-translation);

 }
.cube_container_position_19{
  transform: translateX(0) translateY($square-translation) translateZ($square-translation);

 }
.cube_container_position_20{
  transform: translateX($square-translation) translateY($square-translation) translateZ($square-translation);

 }
.cube_container_position_21{
  transform: translateX(-$square-translation) translateY($square-translation) translateZ(0);

 }
.cube_container_position_22{
  transform: translateX(0) translateY($square-translation) translateZ(0);

 }
.cube_container_position_23{
  transform: translateX($square-translation) translateY($square-translation) translateZ(0);

 }
.cube_container_position_24{
  transform: translateX(-$square-translation) translateY($square-translation) translateZ(-$square-translation);
 }

.cube_container_position_25{
  transform: translateX(0) translateY($square-translation) translateZ(-$square-translation);

 }
.cube_container_position_26{
  transform: translateX($square-translation) translateY($square-translation) translateZ(-$square-translation);
 }

.cube{
  transition: transform 1s;
  margin:0;
  transform-style:preserve-3d;
  width: 100%;
  height: 100%;
  position:relative;
  animation: fade-in-1 3s ease-in;
}

@keyframes fade-in-1 {
    0% {
      transform:scale3d(0,0,0);
    }

    100% {
      transform:scale3d(1,1,1);
    }
}

@keyframes fade-in {
    0% {
      width: 5%;height: 5%;
    }

    100% {
      height: 99%;width: 99%;
    }
}

.cube_face{
  position:absolute;
  width: 99%;
  height: 99%;
  box-shadow: 1px 1px 1px 1px $border_color;
  //border: solid 1px;
  background-color:$unused_face_color;
  border-radius: 4px;
  backface-visibility: hidden;
}


.cube_face_0{
  transform: rotateY(0deg) translateZ($square-size/2);
  //background-color:rgba(0, 0, 255, 0.5);
  }

.cube_face_1{
  transform:rotateX(-90deg)translateZ($square-size/2);
  //background-color:rgba(255, 0, 0, 0.5);
}

.cube_face_2{
  transform: rotateY(-90deg)translateZ($square-size/2);
   //background-color:rgba(0,255, 0, 0.5)
}
.cube_face_3{
  transform: rotateX(90deg) translateZ($square-size/2);
  //background-color:rgba(0,255, 255, 0.5);
}
.cube_face_4{
transform:rotateY(90deg) translateZ($square-size/2);
 //background-color:rgba(255,255, 0, 0.5)
}
.cube_face_5{
  transform: rotateY(180deg) translateZ($square-size/2);
 //background-color:rgba(255,0, 255, 0.2)
}
