$break-small: 500px;
$break-large: 1200px;

$square-container:3rem;
$square-translation:3.7rem;
$square-size:3rem;




$white:white;
$red:red;
$blue:blue;
$green:green;
$orange:orange;
$yellow:yellow;

$white1:white;
$red1:red;
$blue1:#14a3dc;
$green1:#3df749;
$orange1:orange;
$yellow1:yellow;


$background-color:#f3f3f3;
$unused_face_color:black;
$border_color:black;$border_color:black;
